lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

# Webstorm Settings
.idea/*
!.idea/inspectionProfiles
!.idea/jsLinters

# Istanbul Output
coverage/
.nyc_output

# NPM Dependencies
node_modules/

# Eclipse Settings
.project
/dist
/.idea

# Sublime Settings
*.sublime-project
*.sublime-workspace

build

*.iml

.DS_Store
